/* Add application styles & imports to this file! */
* {
  box-sizing: border-box;
}

body {
  font-family: Lato;
  padding: 10px;
  background-color: bisque;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: azure;
  padding: 10px;
  border-radius: 10px;
}

hr {
  margin: 20px 0;
  opacity: 0.3;
}
